.cartWindow{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}
.cartCardWindow{
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding: 2rem;
    height: 75vh;
    overflow: auto;
}
.cartItem{
    display: flex;
    margin-bottom: 10px;
    padding: 1rem;
    box-shadow: 1px 1px 10px #000;
    border-radius: 2rem;

}
.cartItemCard{
    display: flex;
}
.cartItemCard-image{
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    object-fit: contain;
    margin: 20px;
}
.cartItemDetails{
    text-align: left;
    margin: 1rem;
}
.description{
    height: 100px;
    overflow: hidden;
}
.priceDetails{
    display: flex;
    flex-direction: column;  
    align-items:flex-start; 
    padding: 1rem;
    justify-content: space-between;
}
.quantityAndPrice{
    display: flex;
    gap:20px;
}
.removebtw{
    bottom: 10px;
    right: 10px;
}
.emptyCart{
    display: flex;
    flex-direction: column;
    height: 91vh;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content:flex-start;
}
.emptyCartImage{
    height: 300px;
}
.checkout{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 270px;
    text-align:center;
    align-self: flex-start;
    justify-content: center;
    box-shadow: 0 0 5px #000;
    background-color: #fff3b0;
    border-radius: 1rem;
}
@media (max-width:600px){
    .itemTitle{
        font-size: small;
        height: 30px;
        overflow: hidden;
    }
    .cartWindow{
        padding: 2rem;
        display:flex;
        flex-direction:column-reverse;
        gap: 2rem;

    }
    .cartCardWindow{
        width: 100%;
        overflow: auto;
        padding: 1rem;
    }
    .cartItemCard{
        display: block;
    }
    .cartItem{
        display: block;

    }
    .cartItemDetails{
        display: block;
    }
    .cartItemCard-image{
        height: 120px;
        margin: 10px;
        align-self: center;
    }
    .priceDetails{
        justify-content: space-between;
        align-items:center;
        gap: 10px;

    }
    .description{
        text-align:justify;
        overflow: auto;
    }
    .checkout{
        align-self: center;
    }
}